.navbar{
  background-color: #353A40;
  height: 80px;
}

#gris{
  background-color: #353A40;
}
.palacio{
  padding: 0;
  margin: 0;
}
.container-fluid{
  width: 90%;
}
.texto-2{
  color: white;
    text-align: right;
    flex-flow: column wrap;
    margin-right: 8vh;
    position: absolute;
    top: 50%;
    bottom: 15%;
    left: 30%;
}
.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.row{
  width: 80%;
}
.btn-sm{
  font-size: .6rem;
  font-weight: bold;
}
.honolulu{
  width: 50%;
  height: 400px;
  background-color: #353A40;
  color: white;
}
.formulario-final{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
form{
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: fit-content;
}
.juntos{
  display: flex;
  justify-content: space-between;
}
.info{
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 45%;
  font-size: .9rem;
  margin-top: .5rem;
  padding: .5rem;
  color: darkgrey;
}
textarea{
  border-radius: 5px;
  border: 1px solid lightgrey;
  width: 100%;
  margin-top: .5rem;
  color: darkgrey;
}
#enviar{
  border-radius: 5px;
  background-color: #95BF3B;
  width: 100%;
  border: none;
  padding: .5rem;
  color: white;
  font-weight: bold;
}
.frase-form{
  padding: .5rem;
  color: darkgrey;
}
.contenedor-centro{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 450px;


}
.img-honolulu{
  display: flex;
  width: 50%;
  overflow: hidden;
}
.fondo-gris{
  color: white;
  background-color: #353A40;
  display: inline-block;
  padding: 2rem;
  width: 50%;
}

.boton-mitad{
  font-size: 1rem;
  background: none;
  border-radius: 4px;
  color: white;
  border: 1px solid white;
    }
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 5rem 0 5rem;
  bottom: 0px;
  width: 100%;
  border: none;
  height: auto;
  color: white;
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(27,55,67,1) 0%, rgba(31,82,113,1) 100%);
  }

  .foot{
  padding: 10px;
  }
